@charset "utf-8";

$body-background-color: #07192f;
$family-sans-serif: "Trebuchet MS", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$family-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
$body-font-size: 14px;

@import "./node_modules/bulma/bulma.sass";