<div class="card blog-item">
    <header class="card-header">
        <p class="card-header-title">
            专题
        </p>
    </header>
    <div class="card-content tag-cloud">
        <ul>
            <% 
            if(theme.recommended_tags != undefined) {
                for(var i = 0; i < site.tags.length; i++) {
                    if(theme.recommended_tags.find(e => e == site.tags.data[i].name)) { %>
                        <li>
                            <a href="<%- url_for(site.tags.data[i].path) %>">
                                <%- site.tags.data[i].name %>
                                <span class="tag is-light">共<%- site.tags.data[i].posts.length %>篇文章</span>
                            </a>
                        </li>
                    <% }    
                }
            }
            %>
        </ul>
    </div>
</div>