<div class="card blog-item">
    <header class="card-header">
        <p class="card-header-title">
            专题
        </p>
    </header>
    <div class="card-content tag-cloud">
        <% 
        var collections = theme.recommended_tags || [];
        for(var i = 0; i < collections.length; i++) {
            for(var j = 0; j < site.tags.length; j ++) {
                if(site.tags.data[j].name == collections[i].tag) {
                    collections[i].raw = site.tags.data[j];
                }
            }
        }

        for(var h = 0; h < collections.length; h++) {%>
            <%- partial('_partial/_collection', {collection: collections[h]}) %>        
        <% } %>
    </div>
</div>