<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="/assets/yd.png">
        <h1 class="brand is-size-6"><%= config.title %></h1>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavBar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="topNavBar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">首页</a>
        <a class="navbar-item">归档</a>
      </div>
    </div>
  </nav>