h1 { font-size: 2em; font-weight: bold; margin-bottom: 10px; margin-top: 10px; }
h2 { font-size: 1.8em; font-weight: bold; }
h3 { font-size: 1.5em; font-weight: bold; }
h4 { font-size: 1.17em; font-weight: bold; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-size: 0.83em; font-weight: bold; }

body {
    background: #f7f7f8;
    font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.blog-item {
    margin-bottom: 5px;
}

.main-content {
    margin-top: 60px;
    padding: 20px;
}

.blog-title {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

h1.blog-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    border-bottom: 1px solid #8080802e;
    font-family: 'SimSun', Arial, Helvetica, sans-serif;
}

.blog-content{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.blog-published-time {
    padding-right: 10px; 
}

.blog-meta {
    margin-top: 10px;
    font-size: small;
    color: #7d7d7d;
    margin-bottom: 20px;
}

#blog-toc {
    transform: translateX(0);
}

.is-position-fixed {
    top: 60px;
}

#blog-toc>.toc-list li {
    list-style: none;
}


.blog-link {
    font-size: small;
}
.blog-tags {
    margin-top: 10px;
}

.blog-paginator {
    margin-top: 20px;
}

ol.toc li {
    list-style-type: none;
}

.recommended-article {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.collection-container {
    display: flex;
    margin-bottom: 10px;
}

.collection-cover {
    width: 60px;
    min-width: 60px;
    height: 80px;
    border: 1px solid #80808024;
    box-shadow: 4px 4px 2px #f5d3d3;
}

.collection-description {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.collection-description .collection-title {
    font-weight: bold;
    font-size: 15px;
}

.collection-description .description-content {
    font-size: 12px;
}

span.tag {
    margin-bottom: 5px;
    font-weight: bold;
}

.blog-link {
    margin-bottom: 10px;
}

.blog-meta {
    display: flex;
    justify-content: space-around;
}

.blog-categories {
    flex: 1;
}

pre {
    border: 1px dashed #fbadc775;
    margin-top: 5px;
    background: transparent;
    padding: 0.5rem 0.5rem;
}

/** override bulma **/
.navbar-link, .navbar-item {
    font-weight: 600;
    color      : #2c2c2c;
    font-size  : 14px;
}

.navbar-item:hover {
    text-decoration: underline;
}

.navbar-link:not(.is-arrowless)::after,
.select:not(.is-multiple):not(.is-loading)::after {
    border-width: 1px;
    width       : 6px;
    height      : 6px;
    border-color: #2c2c2c;
}
