.blog-content h1 { font-size: 1.5em; font-weight: bold; margin-bottom: 10px; margin-top: 10px; }
.blog-content h2 { font-size: 1.3em; font-weight: bold; margin-bottom: 8px; margin-top: 8px;}
.blog-content h3 { font-size: 1.2em; font-weight: bold; margin-bottom: 6px; margin-top: 6px;}
.blog-content h4 { font-size: 1em; font-weight: bold; margin-bottom: 4px; margin-top: 4px;}
.blog-content h5 { font-size: 0.8em; font-weight: bold; margin-bottom: 2px; margin-top: 2px;}
.blog-content h6 { font-size: 0.6em; font-weight: bold; }

body {
    font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    background-color: #07192f;
}

.menu {
    font-size: 14px;
}

.menu-list a {
    font-weight: bold;
}

.blog-item {
    margin-bottom: 5px;
}

.main-content {
    padding: 20px;
    color: #eee;
}

/* .nav-bar, .main-content, .footer {
   z-index: 99;
} */

.main-content a {
    color: #e78200;
}

.main-content .card {
    color: #eee;
}

a.blog-title {
    font-weight: bold;
    font-size: 18px;
    color: #ddd;
}

a.blog-title:hover {
    color: #fff;
}
.media {
    align-items: center;
}

.avatar img{
    border-radius: 16px;
}

.media-content {
    color: gray;
    font-size: 14px;
}

h1.blog-title {
    text-align: left;
    font-size: 1.5rem;
    color: #eee;
    margin-bottom: 20px;
}

nav.blog-categories {
    margin-bottom: 0 !important;
}

.blog-content{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-top: 20px;
    color: #dadada;
}

.blog-published-time {
    padding-right: 10px; 
}

.blog-meta {
    margin-top: 10px;
    font-size: small;
    color: #7d7d7d;
    margin-bottom: 20px;
}

#blog-toc {
    transform: translateX(0);
}

a.toc-link {
    color: #e78200;
    font-size: 12px;
}

a.is-active-link {
    font-weight: bold;
}

.is-active-link::before {
    background-color: #e78200;
}

.is-position-fixed {
    top: 90px;
    font-size: small;
}

#blog-toc>.toc-list li {
    list-style: none;
}


.blog-link {
    font-size: small;
    color: #e78200;
}
.blog-tags {
    margin-top: 10px;
}

.blog-paginator {
    margin-top: 20px;
}

ol.toc li {
    list-style-type: none;
}

.recommended-article {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.collection-container {
    display: flex;
    margin-bottom: 10px;
}

.collection-cover {
    width: 60px;
    min-width: 60px;
    height: 80px;
    border: 1px solid #80808024;
    box-shadow: 4px 4px 2px #f5d3d3;
}

.collection-description {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.collection-description .collection-title {
    font-weight: bold;
    font-size: 15px;
}

.collection-description .description-content {
    font-size: 12px;
}

span.tag {
    margin-bottom: 5px;
    font-weight: bold;
}

.blog-link {
    margin-bottom: 10px;
}

.blog-meta {
    display: flex;
    justify-content: space-around;
}

.blog-categories {
    flex: 1;
}

pre {
    border: 1px dashed #f8f8f824;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    padding: 0;
}

.post-item {
    margin-bottom: 10px;
}
a.post-title {
    font-weight: bold;
}

.archive-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}

/** override bulma **/


.blog-content ul {
    list-style-type: square;
}
ol.toc-list {
    counter-reset: item
}

ol.toc-list li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    color: #eee;
    font-size: small;
}

.blog-content {
    counter-reset: ch1;
}

.blog-content h1 {
    counter-reset: ch2;
}
.blog-content h2 {
    counter-reset: ch3;
}
.blog-content h1:before {
    color: #9ffd57;
    content: "§" counter(ch1) "、";
    counter-increment:ch1;
}

.blog-content h2:before {
    color: #9ffd57c9;
    content: "§" counter(ch1)"."counter(ch2) "、";
    counter-increment:ch2;
}

.blog-content h3:before {
    color: #9ffd5780;
    content: "§" counter(ch1)"."counter(ch2)"."counter(ch3) "、";
    counter-increment:ch3;
}

#birds-canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.footer {
    z-index: 1;
    position:relative;
}

/* 
 * see: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors 
 */

/* .blog-content [id]:before { 
    display: block; 
    margin-top: -60px;
    height: 60px;
    visibility: hidden; 
} */
  
.blog-content ol, .blog-content ul {
    margin: revert;
    padding: revert;
}

.main-content img {
    background: #ffffff8f;
}

.footnotes {
    font-size: small;
    color: #7d7d7d;
}

.math {
    color: white;
}