<div class="blog-item-container columns">
    <div class="column is-one-fifth is-hidden-mobile">
        
    </div>
    <div class="column">
        <% page.posts.each(function (post) { %>
            <%- partial('_partial/_post', {post}) %>
            <% }) 
        %>
        <%- partial('_partial/_paginator') %>
    </div>
    <div class="column is-one-fifth is-hidden-mobile">
        
    </div>
</div>
