<div class="blog-item-container columns">
    <div class="column is-three-fifths">
        <% page.posts.each(function (post) { %>
            <%- partial('_partial/_post', {post}) %>
            <% }) 
        %>
        <%- partial('_partial/_paginator') %>
    </div>
    <div class="column">
        <%- partial('_partial/_tags') %>
    </div>
</div>
